HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### My Blocked ###
/instgroups.json
/instance.cfg
/crash-reports/
/logs/
/resourcepacks/
/saves/
/screenshots/
/mods.zip
/command_history.txt
/usercache.json
/usernamecache.json
/XaeroWaypoints_*




